<label for="restaurant">Restaurant:</label>
<div class="row">
  <div class="column">
    <select id="restaurant" [(ngModel)]="selectedRestaurant" (ngModelChange)="log()">
      <option value=""disabled>Select restaurant</option>
      <option *ngFor="let rest of restaurants| async" [ngValue]="rest">
        {{rest.name}}
      </option>
    </select>
    <button class="button button-outline" (click)="create()">new</button> | <button class="button button-outline" (click)="clearDB()">clear DB</button>
  </div>
</div>
<app-restaurant-edit [restaurant]="selectedRestaurant" *ngIf="selectedRestaurant"></app-restaurant-edit>
