<div id="toolbar">
  <div class="row row-no-padding">
    <div class="column">
      <h2>{{title}}</h2>
      <div id="userInfo">
        <span *ngIf="authService.getUser()|async as user; else loginBtn">
          {{user.displayName}} <a href="" class="fas fa-sign-out-alt" (click)="logout()"></a>
        </span>
      </div>
      <nav>
        <a routerLink="/order-now" routerLinkActive="active">Home</a>
        <a routerLink="/today-selection" *ngIf="authService.getUser()|async" routerLinkActive="active">Today's selection</a>
        <a routerLink="/today-cart" *ngIf="authService.getUser()|async" routerLinkActive="active">Today's Cart</a>
        <a routerLink="/restaurants" *ngIf="authService.getUser()|async" routerLinkActive="active">Restaurants</a>
      </nav>
    </div>
  </div>
</div>

<ng-template #loginBtn>
  <button class="button button-outline" (click)="login()">login</button>
</ng-template>
