#toolbar {
  margin: 10px auto;
}

#toolbar h2 {
  float: left;
  margin: 0px auto;
}

#toolbar nav {
  float: left;
  clear: both;
  margin: 0px auto;
}

#toolbar nav a {
  padding: 0 10px;
}

#toolbar nav a + a {
  border-left: 1px solid;
}

nav .active {
  font-weight: bold;
}

#toolbar #userInfo {
  float: right;
}
