/* details */
.summary input {
  margin: 0;
}

.details {
  font-size: smaller;
  margin: 10px auto;
}

.desc {
  width: 60%;
}

.qty {
  width: 20%;
}

.price {
  width: 20%;
}

.name {
  width: 20%;
}

.details .desc {
  width: 40%;
}
