<div class="row row-no-padding" *ngIf="restaurant">
  <div class="column">
    <h4>Order now from (<strong>{{restaurant?.name}}</strong>) !!</h4>
    <fieldset>
      <label for="meal">Meal</label>
      <input type="text" id="meal" placeholder="Description..." [(ngModel)]="currentOrder.description" (keyup.enter)="add()">
      <label for="author">Name</label>
      <input type="text" id="author" placeholder="Name..." [(ngModel)]="currentOrder.author">
      <label for="quantity">Quantity</label>
      <input type="text" id="quantity" [(ngModel)]="currentOrder.quantity"/>
      <input type="submit" value="Add" (click)="add()"/>
    </fieldset>
    <hr>
  </div>
</div>
<table id="ordersList">
  <thead>
  <tr>
    <th colspan="3">Orders</th>
    <th>
      <button class="button button-clear float-right" (click)="empty()" *ngIf="authService.getUser() | async"><i class="fas fa-trash-alt fa-2x"></i></button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders| async">
    <td class="qty">{{order.quantity}}</td>
    <td class="desc">{{order.description}}</td>
    <td class="name">[{{order.author}}]</td>
    <td class="toolbar">
      <i class="fa fa-times-circle" (click)="delete(order)"></i>
    </td>
  </tr>
  </tbody>
</table>



