table {
}

td, th {
  border: none;
  margin: 0;
  padding: 5px 0;
}

tbody tr:hover {
  background: #eee;
}

.qty {
  width: 10%;
  text-align: center;
}

.name {
  width: 25%;
  font-size: small;
  padding-right: 5px;
}

.desc {
  width: 55%;
}

.toolbar {
  width: 10%;
  text-align: center;
}
