<div class="row row-no-padding">
  <div class="column">
    <h3>Order now from (<strong>{{restaurant.name}}</strong>) !!</h3>
    <fieldset>
      <label for="meal">Meal</label>
      <input type="text" id="meal" placeholder="Description..." [(ngModel)]="currentOrder.description">
      <label for="author">Name</label>
      <input type="text" id="author" placeholder="Name..." [(ngModel)]="currentOrder.author">
      <label for="quantity">Quantity</label>
      <input type="text" id="quantity" [(ngModel)]="currentOrder.quantity"/>
      <input type="submit" value="Add" (click)="add()"/>
    </fieldset>
    <hr>
  </div>
</div>
<div class="row row-no-padding">
  <div class="column ">
    <h4 class="float-left">Orders</h4>
    <button class="button float-right" (click)="empty()">Clear</button>
  </div>
</div>
<div class="row row-no-padding">
  <div class="column">
    <ul>
      <li *ngFor="let order of orders| async">
        {{order.description}} ({{order.quantity}}) <small>{{order.author}}</small>
      </li>
    </ul>
  </div>
</div>



