<div class="row row-no-padding" *ngIf="restaurant">
  <div class="column">
    <h4>Order now from (<strong>{{restaurant?.name}}</strong>) !!</h4>
    <fieldset>
      <label for="meal">Meal</label>
      <input type="text" id="meal" placeholder="Description..." [(ngModel)]="currentOrder.description" (keyup.enter)="add()">
      <label for="author">Name</label>
      <input type="text" id="author" placeholder="Name..." [(ngModel)]="currentOrder.author">
      <label for="quantity">Quantity</label>
      <input type="text" id="quantity" [(ngModel)]="currentOrder.quantity"/>
      <input type="submit" value="Add" (click)="add()"/>
    </fieldset>
    <hr>
  </div>
</div>
<div class="row row-no-padding">
  <div class="column">
    <h4 class="float-left">Order:</h4>
    <button class="button button-clear" (click)="checkout()" *ngIf="authService.getUser() | async"><i class="fas fa-cart-arrow-down fa-2x"></i></button>
    <button class="button button-clear float-right" (click)="empty()" *ngIf="authService.getUser() | async"><i class="fas fa-trash-alt fa-2x"></i></button>
  </div>
</div>
<div class="row row-no-padding">
  <div class="column">
    <ul id="ordersList">
      <li *ngFor="let order of orders| async">
        <i class="fas fa fa-angle-right"></i>
        <span class="qty">{{order.quantity}}</span>
        <span class="desc">{{order.description}}</span>
        <span class="name">{{order.author}}</span>
        <span class="restaurant">{{order.restaurant}}</span>
      </li>
    </ul>
  </div>
</div>



